<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Life</title>
    <link rel="stylesheet" href="CSS/all.min.css" />
    <link rel="stylesheet" href="CSS/main.css" />
    <link rel="stylesheet" href="CSS/Normalize.css" />
    <link rel="stylesheet" href="CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo home-btn">
          <p class="home-btn">New Life</p>
          <h2 class="home-btn">ICU</h2>
        </div>
        <div class="links">
          <ul class="links">
            <li><a href="">Department</a></li>
            <li><a href="">Contact US</a></li>
            <li><a href="">About US</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="home-body">
      <div class="img col-5">
        <img src="images/nurse.png" class="image" alt="" />
      </div>
      <div class="card col-7">
        <p><span>New Life ICU</span>
          cater to patients with severe or life-threatening illnesses and
          injuries, which require constant care, close supervision from life
          support equipment and medication in order to ensure normal bodily
          functions. They are staffed by highly trained
          <span>physicians and nurses</span>
          who specialize in caring for critically ill patients.</p>
        <div class="button login">LOGIN</div>
        <div class="sec-button visitor">I'm a VISITOR</div>
      </div>
    </div>
    <div class="login-page">
      <div class="show-login">
        <h2>LOGIN</h2>
        <form action="users/login" method="post" class="login-form">
          <label for="email">Email</label>
          <input required type="email" name="email" id="email" />
          <label for="password">Password</label>
          <input required type="password" name="password" id="password" />
          <div class="show-pass">
          <input type="checkbox" onclick="showPassword()" name="show-pass" id="show-pass">
          <label for="show-pass">Show Password</label>
          </div>
          <button
            type="submit"
            value="LOGIN"
            class="login-btn button"
          >LOGIN</button>
        </form>
        <div class="sec-button back">Back</div>
      </div>
    </div>
    <div class="visitor-page">
      <div class="show-visitor">
        <div class="row">
          <h2>VISITOR</h2>
          <div class="col-5 complaint">
            <form action="complaint" method="post">
              <label for="complaint">Have a Complaint?</label>
              <textarea
                name="Complaints"
                class="complaint-text"
                id="text-area"
                cols="30"
                rows="10"
                maxlength="300"
              ></textarea>
              <input
                type="submit"
                value="Submit"
                class="button complaint-btn"
              />
            </form>
          </div>
          <div class="col-2 or">or</div>
          <div class="col-5 patient">
            <form action="checkSSN" method="post">
              <label for="patient">Check Your Patient</label>
              <input
                type="text"
                name="SSN"
                id="patient"
                placeholder="Enter Patient SSN"
                required
                minlength="14"
                maxlength="14"
              />
              <input type="submit" value="Check" class="button patient-btn" />
            </form>
          </div>
          <div class="sec-button back">Back</div>
        </div>
      </div>
    </div>
  </body>
  <script src="JS/all.min.js"></script>
  <script src="JS/main.js"></script>
  <script src="JS/bootstrap.bundle.min.js"></script>
</html>