:root {
    --main-color: #2e3192;
    --sec-color: #00aeef;
    --border-radius: 5px;
    --important-text: 35px;
    --sec-text: 25px;
}

.login-page{
    width: 400px;
    height: 600px;
    filter: opacity(100);
}

.show-login{
    display: block;
}

.error{
    text-align: center;
    color: white;
    margin-bottom: -35px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    user-select: none;
}