
body {
    background-image: url("../images/nurse-background.png");
}

.prevent-click {
    pointer-events: none;
}

:root {
    --main-color: #2e3192;
    --sec-color: #00aeef;
    --border-radius: 5px;
    --important-text: 35px;
    --sec-text: 25px;
    --icons-size: 45px
}

.sp-header:hover {
    width: 100%;
}

.patients {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    border: 1px solid var(--sec-color);
    border-radius: var(--border-radius);
    overflow-y: scroll;
    overflow-x: hidden;
    resize: both;
    max-width: 1000px;
    min-width: 800px;
    max-height: 800px;
    min-height: 600px;
    height: 600px;
}

.patient {
    background-color: #2e319259;
    margin: 20px auto 10px !important;
    border-radius: var(--border-radius);
    transition: 0.3s;
    cursor: pointer;
    transform: translateX(0%);
    width: 95%;
}

.patient h3 {
    color: var(--main-color);
    transition: 0.3s;
}

.patient h2 {
    color: white;
    transition: 0.3s;
}

.patient:hover {
    background-color: var(--main-color);
}

.patient:hover h3 {
    color: white;
}

.patient:hover h2 {
    color: var(--sec-color);
}

.contains {
    transform: translateX(0);
    filter: opacity(100%);
    transition: 1s;
    max-height: 500px;
}

.contains-hide {
    transform: translateX(150%);
    filter: opacity(0);
}

.report {
    position: absolute;
    top: 0;
    transform: translateX(150%);
    filter: opacity(0);
    transition: 1s;
    width: 100%;
    background-color: var(--main-color);
}

.report-show {
    transform: translateX(0);
    filter: opacity(100%);
}

input[type="range"]{
    width: 100%;
}

.message-icon {
    display: flex;
    color: var(--main-color);
    position: absolute;
    top: 5%;
    right: -45%;
    transition: 0.3s;
    pointer-events: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}