* {
    padding: 0;
    margin: 0;
    font-family: "Prompt", sans-serif;
}

:root {
    --main-color: #2e3192;
    --sec-color: #00aeef;
    --border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
}

.container {
    background: linear-gradient(-135deg, var(--sec-color), #fff);
    margin-top: 80px;
    width: 50%;
    height: 800px;
    border-radius: var(--border-radius);
}

.container .form-title-container {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
}

.container .form-title-container .form-title {
    padding-left: 8px;
}

.container .form-title-container .form-title:hover {
    background: linear-gradient(-135deg, var(--sec-color), var(--main-color));
    border-radius: var(--border-radius);
    font-size: 21px;
}

.form-container .form-parts .essential-details {
    margin-left: 15px;
}

.form-container .form-parts .essential-details .input-box {
    display: inline-block;
    width: 350px;
    margin: 10px;
}

.form-container .form-parts .essential-details .input-box .input-name {
    display: block;
    margin-bottom: 8px;
}

.form-container .form-parts .essential-details .input-box .input-field {
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    height: 30px;
    width: 300px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-container .form-parts .essential-details .input-box .input-field:focus,
.form-container .form-parts .essential-details .input-box .input-field:valid {
    border-color: #000;
}

.form-container .form-parts .gender-details {
    margin: 20px;
}

.form-container .form-parts .gender-details .gender-type {
    display: inline-block;
    margin-right: 50px;
}

.form-container .form-parts .starting-date-details {
    margin: 20px;
}

.form-container .form-parts .starting-date-details .date-name {
    margin-right: 50px;
}

.form-container .form-parts .starting-date-details input {
    border-radius: var(--border-radius);
    height: 20px;
}

.form-container .form-parts .button {
    margin-top: 80px;
    margin-left: 20px;
}

.form-container .form-parts .button input {
    display: block;
    margin-top: 30px;
    width: 715px;
    height: 50px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    background: var(--main-color);
    text-transform: uppercase;
}

.form-container .form-parts .button input:hover {
    background: linear-gradient(-135deg, var(--sec-color), var(--main-color));
}