* {
    box-sizing: border-box;
}

:root {
    --main-color: #2e3192;
    --sec-color: #00aeef;
    --border-radius: 5px;
}

.search-patient {
    width: 325px;
    height: 320px;
    background: var(--sec-color);
    border-radius: var(--border-radius);
    transform: translate(535px, 300px);
    position: absolute;
    display: none;
}

.show-button {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercas;
    background-color: var(--sec-color);
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
    padding: 15px;
    border-radius: var(--border-radius);
    color: #fff;
    position: absolute;
    transform: translate(550px, 100px);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
}

.add-button {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercas;
    background-color: var(--sec-color);
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
    padding: 15px 93px;
    border-radius: var(--border-radius);
    color: #fff;
    position: absolute;
    transform: translate(550px, 200px);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);

}

.show-button:hover {
    background: linear-gradient(-135deg, var(--main-color), var(--sec-color));
}

.add-button:hover {
    background: linear-gradient(-135deg, var(--main-color), var(--sec-color));
}




.search-patient .search-patient-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, var(--main-color), var(--sec-color));
}



.search-patient .search-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .patient-details .input-box,
.companion-data .input-box {
    width: 100%;
    margin-bottom: 15px;
}

form .patient-details #address {
    width: 100%;
}

.patient-details .input-box .details,
.rec-pach-form .input-box .details,
.rec-vi-form .input-box .details,
.companion-data .input-box .details,
.paCheckout .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
}

.patient-details .input-box input,
.rec-pach-form .input-box input,
.rec-vi-form .input-box input,
.companion-data .input-box input,
select,
.paCheckout .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.btns{
    margin-top: 50px;
}
.result-btns{
    margin-top: 175px;
}
.input-ssn{
    margin-top: 50%;
}
.patient-details .input-box input:focus,
.patient-details .input-box input:valid {
    border-color: #000;

}

.search-patient .search-details .details input {
    height: 45px;
    width: 300px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.search-patient .details input:focus,
.search-patient .details input:valid {
    border-color: #000;
}



form .date-details {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;

}

form .date-details .date-title {
    font-size: 15px;
    font-weight: 500;
}

form .date-details input {
    height: 30px;
    width: 100px;
    margin-right: 10px;
    background: #fff;
    border-radius: var(--border-radius);
    font-size: 15px;
}

.rec-vi-form .gender{
    color: var(--main-color);
    font-size: 15px;
}

form .gender-details .gender-title {
    font-size: 15px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 60%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"] {
    display: block;
}



form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    color: #fff;
    background: var(--main-color);
}

form .button input:hover {
    background: linear-gradient(-135deg, var(--main-color), var(--sec-color));
}

.companion-data{
    display: none;
}

.gender-details,
.companion-details{
    display: flex;
    margin-bottom: 15px;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 10px;
}

option{
    width: 100%;
    background-color: white;
    outline: none;
    color: var(--main-color);
}

.option-selected{
    color: var(--sec-color);
    font-weight: 700;
}

.room-error,
.room-error2{
    margin-top: 10px !important;
    margin-bottom: -10px !important;
}

#search-result{
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#search-result:hover{
    background-color: #18194a;
}

#search-result:first-child{
    margin-top: 0;
}
#search-result:last-child{
    margin-bottom: 0;
}
#result{
    background-color: var(--main-color);
    display: none;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    transition: 0.5s;
}