<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/admin.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-logo home-btn">
        <div class="logo home-btn">
          <p class="home-btn">New Life</p>
          <h2 class="home-btn">ICU</h2>
        </div>
      </div>
      <div class="br prevent-click"></div>
      <div class="sidebar-eles">
        <div class="sidebar-ele active" data-sidebarEle="page-dashboard">
          <i class="fa-solid fa-house prevent-click"></i>
          <h3 class="ele-text prevent-click">Dashboard</h3>
        </div>
        <div class="sidebar-ele" data-sidebarEle="page-add-staff">
          <i class="fa-solid fa-user-large prevent-click"></i>
          <h3 class="ele-text prevent-click">Add Staff</h3>
        </div>
        <div class="sidebar-ele" data-sidebarEle="page-assign-staff">
          <i class="fa-solid fa-stethoscope prevent-click"></i>
          <h3 class="ele-text prevent-click">Assign Staff</h3>
        </div>
      </div>
      <div class="sidebar-eles bottom">
        <div class="br prevent-click"></div>
        <div class="sidebar-ele" data-sidebarEle="page-profile">
          <i class="fa-regular fa-user prevent-click"></i>
          <h3 class="ele-text prevent-click">Profile</h3>
        </div>
        <div class="log-out">
          <h3>Log Out</h3>
        </div>
      </div>
    </div>
    <div class="page-contains page-dashboard page-show">
      <div class="dashboard show">
        <div class="insights">
          <div class="row">
            <div class="col-3">
              <div class="insight" data-ins="pat">
                <div class="text prevent-click">
                  <h3 class="prevent-click">Our Patients</h3>
                  <h2 class="prevent-click">53</h2>
                </div>
                <div class="icon prevent-click">
                  <i class="fa-solid fa-bed"></i>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="insight" data-ins="sta">
                <div class="text prevent-click">
                  <h3 class="prevent-click">Our Staff</h3>
                  <h2 class="prevent-click">24</h2>
                </div>
                <div class="icon prevent-click">
                  <i class="fa-solid fa-user-doctor"></i>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="insight" data-ins="vis">
                <div class="text prevent-click">
                  <h3 class="prevent-click">Our Visitors</h3>
                  <h2 class="prevent-click">37</h2>
                </div>
                <div class="icon prevent-click">
                  <i class="fa-solid fa-users"></i>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="insight none" data-ins="">
                <div class="text prevent-click">
                  <h3 class="prevent-click">Today Earnings</h3>
                  <h2 class="prevent-click">15K</h2>
                </div>
                <div class="icon prevent-click">
                  <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="sec-row">
          <div class="row">
            <div class="col-8">
              <div class="last-patients">
                <div class="patients doctor-patients">
                  <div class="contains">
                    <div class="sp-header patients-refresh">recent patients</div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-4 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">abdo Yasser</h2>
                        </div>
                        <div class="age col-4 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">30</h2>
                        </div>
                        <div class="progress col-4 prevent-click"><h3 class="prevent-click">Gender</h3>
                          <h2 class="prevent-click">Male</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-4 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">abdo Yasser</h2>
                        </div>
                        <div class="age col-4 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">30</h2>
                        </div>
                        <div class="progress col-4 prevent-click"><h3 class="prevent-click">Gender</h3>
                          <h2 class="prevent-click">Male</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-4 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">abdo Yasser</h2>
                        </div>
                        <div class="age col-4 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">30</h2>
                        </div>
                        <div class="progress col-4 prevent-click"><h3 class="prevent-click">Gender</h3>
                          <h2 class="prevent-click">Male</h2>
                        </div>
                      </div>
                      
                    </div>
                </div>
              </div>
            </div>
            <div class="col-4 complaints-container">
              <div class="last-patients">
                <div class="patients doctor-patients messages">
                  <div class="contains">
                    <div class="sec-button comp-back">Back</div>

                    <div class="sp-header patients-refresh complaints">Complaints</div>

                      <div data-pnum="0" class="patient patient-button message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda ipsum molestiae excepturi iure dolor, nihil recusandae nulla minima nam praesentium veritatis vitae, ea id ipsa commodi rerum. Consectetur, repellendus.</p>
                      </div>
                      <div data-pnum="0" class="patient patient-button message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda ipsum molestiae excepturi iure dolor, nihil recusandae nulla minima nam praesentium veritatis vitae, ea id ipsa commodi rerum. Consectetur, repellendus.</p>
                      </div>
                      <div data-pnum="0" class="patient patient-button message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda ipsum molestiae excepturi iure dolor, nihil recusandae nulla minima nam praesentium veritatis vitae, ea id ipsa commodi rerum. Consectetur, repellendus.</p>
                      </div>
                      <div class="last"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pat">
        <div class="patients doctor-patients admin-patients">
          <div class="upper">
                    <div class="sec-button admin-back">Back</div>
                    <div class="sp-header patients-refresh">our patients</div>
          </div>
                  <div class="contains">
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Room No.</h3>
                          <h2 class="prevent-click">Room 5</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Companion Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Doctor Name</h3>
                          <h2 class="prevent-click">Ahmed Hassan</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Nurse Name</h3>
                          <h2 class="prevent-click">Diaa Badr</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Room No.</h3>
                          <h2 class="prevent-click">Room 5</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Companion Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Doctor Name</h3>
                          <h2 class="prevent-click">Ahmed Hassan</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Nurse Name</h3>
                          <h2 class="prevent-click">Diaa Badr</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Room No.</h3>
                          <h2 class="prevent-click">Room 5</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Companion Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Doctor Name</h3>
                          <h2 class="prevent-click">Ahmed Hassan</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Nurse Name</h3>
                          <h2 class="prevent-click">Diaa Badr</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Room No.</h3>
                          <h2 class="prevent-click">Room 5</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Companion Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Doctor Name</h3>
                          <h2 class="prevent-click">Ahmed Hassan</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Nurse Name</h3>
                          <h2 class="prevent-click">Diaa Badr</h2>
                        </div>
                      </div>
                      <div data-pnum="0" class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Room No.</h3>
                          <h2 class="prevent-click">Room 5</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Companion Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Doctor Name</h3>
                          <h2 class="prevent-click">Ahmed Hassan</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Nurse Name</h3>
                          <h2 class="prevent-click">Diaa Badr</h2>
                        </div>
                      </div>
                      
                    </div>
                </div>
      </div>
      <div class="sta">
        <div class="patients doctor-patients admin-patients">
          <div class="upper">
                    <div class="sec-button admin-back">Back</div>
                    <div class="sp-header patients-refresh">our Staff</div>
          </div>
          <div class="contains">
              <div class="staff-choose row" >
                <div class="doctor staff col-4 active-staff" data-staff="doctors">
                  <h2 class="prevent-click">Doctors</h2>
                </div>
                <div class="nurse staff col-4" data-staff="nurses">
                  <h2 class="prevent-click">Nurses</h2>
                </div>
                <div class="receptionist staff col-4" data-staff="receptionists">
                  <h2 class="prevent-click" >Receptionists</h2>
                </div>
              </div>
              <div class="staff-contains">
                <div class="doctors staff-members active-staff-card">
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@doctor.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@doctor.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@doctor.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@doctor.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@doctor.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="last"></div>
                </div>
                <div class="nurses staff-members">
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@nurse.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@nurse.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="age col-2 prevent-click">
                          <h3 class="prevent-click">Depatment</h3>
                          <h2 class="prevent-click">Medical</h2>
                        </div>
                        <div class="progress col-3 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@nurse.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-1 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                </div>
                <div class="receptionists staff-members">
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="progress col-4 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@Receptionist.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="progress col-4 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@Receptionist.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  <div class="patient patient-button row">
                        <div class="name col-2 prevent-click">
                          <h3 class="prevent-click">Name</h3>
                          <h2 class="prevent-click">Abdo Yasser</h2>
                        </div>
                        <div class="progress col-4 prevent-click">
                          <h3 class="prevent-click">Email</h3>
                          <h2 class="prevent-click">Abdelrhman@Receptionist.com</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Phone Number</h3>
                          <h2 class="prevent-click">01112221122</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Age</h3>
                          <h2 class="prevent-click">35</h2>
                        </div>
                        <div class="progress col-2 prevent-click">
                          <h3 class="prevent-click">Salary</h3>
                          <h2 class="prevent-click">3500</h2>
                        </div>
                  </div>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="vis">
                <div class="patients doctor-patients admin-patients">
          <div class="upper">
                    <div class="sec-button admin-back">Back</div>
                    <div class="sp-header patients-refresh">Today Visitors</div>
          </div>
            <div class="contains">
                <div class="patient patient-button row">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">Abdo Yasser</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Phone Number</h3>
                    <h2 class="prevent-click">01112221122</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Arrival Time</h3>
                    <h2 class="prevent-click">12:05</h2>
                  </div>
                  <div class="last"></div>
                </div>
                <div class="patient patient-button row">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">Abdo Yasser</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Phone Number</h3>
                    <h2 class="prevent-click">01112221122</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Arrival Time</h3>
                    <h2 class="prevent-click">12:05</h2>
                  </div>
                  <div class="last"></div>
                </div>
                <div class="patient patient-button row">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">Abdo Yasser</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Phone Number</h3>
                    <h2 class="prevent-click">01112221122</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="progress col-3 prevent-click">
                    <h3 class="prevent-click">Arrival Time</h3>
                    <h2 class="prevent-click">12:05</h2>
                  </div>
                  <div class="last"></div>
                </div>
                <div class="last"></div>
              </div>
          </div>
      </div>
    </div>
    <div class="page-contains page-add-staff ">
        <div class="form-container">
            <form action="" class="form-parts" method="get">
                <div class="essential-details row">
                    <div class="input-box col-6">
                        <span class="input-name">First Name</span>
                        <input type="text" class="input-field" placeholder="Enter First Name" required>
                    </div>
                    <div class="input-box col-6">
                        <span class="input-name">Last Name</span>
                        <input type="text" class="input-field" placeholder="Enter Last Name" required>
                    </div>
                    <div class="input-box">
                        <span class="input-name">SSN</span>
                        <input type="text" class="input-field" placeholder="Enter SSN" required maxlength="14" minlength="14">
                    </div>
                    <div class="input-box">
                        <span class="input-name">Address</span>
                        <input type="text" class="input-field" placeholder="Enter address" required>
                    </div>
                    <div class="br col-10"></div>
                    <div class="input-box">
                        <span class="input-name">Phone</span>
                        <input type="text" class="input-field" placeholder="Enter phone" required>
                    </div>
                    <div class="input-box">
                        <span class="input-name">Email</span>
                        <input type="email" class="input-field" placeholder="Enter email" required>
                    </div>
                    <div class="br col-10"></div>
                    <div class="input-box">
                        <span class="input-name">Position</span>
                        <select id="departments" required name="departments" class="staff-position">
                        <option selected="selected" hidden disabled class="option-selected">
                            Select Position
                        </option>
                            <option value="Doctor">Doctor</option>
                            <option value="Nurse">Nurse</option>
                            <option value="Receptionist">Receptionist</option>
                        </select> 
                    </div>
                    <div class="input-box staff-dep">
                        <span class="input-name">Department</span>
                        <select id="departments" required name="departments" >
                        <option selected="selected" hidden disabled class="option-selected">
                            Select Department
                        </option>
                            <option value="Medical">Medical</option>
                            <option value="Surgical">Surgical</option>
                            <option value="Pediatric">Pediatric</option>
                            <option value="Neonatal">Neonatal</option>
                        </select> 
                    </div>
                    <div class="input-box">
                        <span class="input-name">Salary</span>
                        <input type="text" class="input-field" placeholder="Enter salary" value="" required>
                    </div>
                <div class="row">
                  <div class="gender-details col-2">
                      <span class="input-name">Gender</span>
                      <div class="gender-types">
                        <div class="gender-type">
                            <input type="radio" name="gender" id="male">
                            <label for="male" class="gender-male">Male</label>
                        </div>
                        <div class="gender-type">
                            <input type="radio" name="gender" id="female">
                            <label for="female" class="gender-male">Female</label>
                        </div>
                      </div>
                  </div>
                  <div class="starting-date-details col-10">
                      <span class="input-name">Birth Date</span>
                      <input type="date" name="" id="">
                  </div>
                </div>
                <button class="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="page-contains page-assign-staff">
      <div class="patients doctor-patients">
        <div class="contains">
          <div class="sp-header patients-refresh">patients</div>
            <div class="one-pat">
              <div class="patient patient-button row">
                <div class="first-row disable-hover col-12 row pa-1">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">abdo Yasser</h2>
                  </div>
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Department</h3>
                    <h2 class="prevent-click">Medical</h2>
                  </div>
                  <div class="name col-2 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="age col-2 prevent-click">
                    <h3 class="prevent-click">Age</h3>
                    <h2 class="prevent-click">30</h2>
                  </div>
                  <div class="progress col-2 prevent-click">
                    <h3 class="prevent-click">Gender</h3>
                    <h2 class="prevent-click">Male</h2>
                  </div>
                </div>
              </div>          
                <div class="avaliable-staff row">
                  <div class="progress col-6">
                    <h3 class=" header-text">Avaliable Doctors</h3>
                    <div class="ava">
                      <div class="ava-staff ava-doctor patient row" data-pa="1">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Diaa</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="1">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="1">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">ALi Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress col-6">
                    <h3 class=" header-text nursess">Avaliable Nurses</h3>
                    <div class="ava">
                      <div class="ava-staff ava-nurse patient row" data-pa="1">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-nurse patient row" data-pa="1">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <form action="" method="get" class="assign-form">
                    <div class="hidden-inputs col-12">
                      <input type="text" class="assigned-doc" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-nurse" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-pat" placeholder="Enter First Name" required>
                    </div>
                    <h2 class="error err-1"></h2>
                    <button class="button assign-btn" data-btn="1">Assign</button>
                  </form>
                </div>
            </div>
            <div class="one-pat">
              <div class="patient patient-button row">
                <div class="first-row disable-hover col-12 row pa-2">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">Ahmed Yasser</h2>
                  </div>
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Department</h3>
                    <h2 class="prevent-click">Medical</h2>
                  </div>
                  <div class="name col-2 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="age col-2 prevent-click">
                    <h3 class="prevent-click">Age</h3>
                    <h2 class="prevent-click">30</h2>
                  </div>
                  <div class="progress col-2 prevent-click">
                    <h3 class="prevent-click">Gender</h3>
                    <h2 class="prevent-click">Male</h2>
                  </div>
                </div>
              </div>          
                <div class="avaliable-staff row">
                  <div class="progress col-6">
                    <h3 class=" header-text">Avaliable Doctors</h3>
                    <div class="ava">
                      <div class="ava-staff ava-doctor patient row" data-pa="2">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Diaa</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="2">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="2">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">ALi Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress col-6">
                    <h3 class=" header-text nursess">Avaliable Nurses</h3>
                    <div class="ava">
                      <div class="ava-staff ava-nurse patient row" data-pa="2">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-nurse patient row" data-pa="2">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <form action="" method="get" class="assign-form">
                    <div class="hidden-inputs col-12">
                      <input type="text" class="assigned-doc" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-nurse" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-pat" placeholder="Enter First Name" required>
                    </div>
                    <h2 class="error err-2"></h2>
                    <button class="button assign-btn" data-btn="2">Assign</button>
                  </form>
                </div>
            </div>
            <div class="one-pat">
              <div class="patient patient-button row">
                <div class="first-row disable-hover col-12 row pa-3">
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Name</h3>
                    <h2 class="prevent-click">Ahmed Hassan</h2>
                  </div>
                  <div class="name col-3 prevent-click">
                    <h3 class="prevent-click">Department</h3>
                    <h2 class="prevent-click">Medical</h2>
                  </div>
                  <div class="name col-2 prevent-click">
                    <h3 class="prevent-click">Room No.</h3>
                    <h2 class="prevent-click">Room 5</h2>
                  </div>
                  <div class="age col-2 prevent-click">
                    <h3 class="prevent-click">Age</h3>
                    <h2 class="prevent-click">30</h2>
                  </div>
                  <div class="progress col-2 prevent-click">
                    <h3 class="prevent-click">Gender</h3>
                    <h2 class="prevent-click">Male</h2>
                  </div>
                </div>
              </div>          
                <div class="avaliable-staff row">
                  <div class="progress col-6">
                    <h3 class=" header-text">Avaliable Doctors</h3>
                    <div class="ava">
                      <div class="ava-staff ava-doctor patient row" data-pa="3">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Diaa</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="3">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-doctor patient row" data-pa="3">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">ALi Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress col-6">
                    <h3 class=" header-text nursess">Avaliable Nurses</h3>
                    <div class="ava">
                      <div class="ava-staff ava-nurse patient row" data-pa="3">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                      <div class="ava-staff ava-nurse patient row" data-pa="3">
                        <div class="name col-3 prevent-click">
                            <h3 class="prevent-click">Name</h3>
                            <h2 class="prevent-click">Abdo Yasser</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">No of Patients</h3>
                            <h2 class="prevent-click">3</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Phone Number</h3>
                            <h2 class="prevent-click">01112221122</h2>
                          </div>
                          <div class="progress col-3 prevent-click">
                            <h3 class="prevent-click">Age</h3>
                            <h2 class="prevent-click">35</h2>
                          </div>
                      </div>
                    </div>
                  </div>
                  <form action="" method="get" class="assign-form">
                    <div class="hidden-inputs col-12">
                      <input type="text" class="assigned-doc" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-nurse" placeholder="Enter First Name" required>
                      <input type="text" class="assigned-pat" placeholder="Enter First Name" required>
                    </div>
                    <h2 class="error err-3"></h2>
                    <button class="button assign-btn" data-btn="3">Assign</button>
                  </form>
                </div>
            </div>
          </div>
      </div>
    </div>
  </body>
  <script src="../JS/all.min.js"></script>
  <script src="../JS/main.js"></script>
  <script src="../JS/admin.js"></script>
  <script src="../JS/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load('visualization', '1.0',
    {'packages':['corechart']});</script>
</html>