<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist</title>
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/nurse.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
    />
</head>
<body>
  <div class="container">
    <div class="header">
        <div class="logo home-btn">
            <p class="home-btn">New Life</p>
            <h2 class="home-btn">ICU</h2>
        </div>
        <div class="links">
            <ul class="links">
            <li><a href="#" class="dep">Department</a></li>
            <li><a href="#">Contact US</a></li>
            <li><a href="#">About US</a></li>
            <li><button href="#" class="log-out">Log Out</button></li>
            </ul>
        </div>
    </div>  
</div>
<div class="cancel-card">
    <div class="cancel-card-contains">
        <h2>Are You Sure?</h2>
        <div class="btns">
            <form action="logout" method="get">
                <button class="button log-out-btn">Log Out</button>
            </form>
            <div class="button cancel">Cancel</div>
        </div>
    </div>
</div>
<div class="patients">
  <div class="sp-header">patients</div>
  <div class="patient row" data-pNum="1">
    <div class="name col-4">
      <h3>Name</h3>
      <h2 class="pa-name">Abdelrhman Yasser</h2>
    </div>
    <div class="age col-4">
      <h3>Age</h3>
      <h2 class="pa-age">21</h2>
    </div>
    <div class="progress col-4">
      <h3>Progress</h3>
      <h2 class="pa-age">85%</h2>
    </div>
  </div>
  <div class="patient row" data-pNum="2">
    <div class="name col-4">
      <h3>Name</h3>
      <h2 class="pa-name">Diaa Badr</h2>
    </div>
    <div class="age col-4">
      <h3>Age</h3>
      <h2 class="pa-age">22</h2>
    </div>
    <div class="progress col-4">
      <h3>Progress</h3>
      <h2 class="pa-age">67%</h2>
    </div>
  </div>
  <div class="patient row" data-pNum="3">
    <div class="name col-4">
      <h3>Name</h3>
      <h2 class="pa-name">Ahmed Hassan</h2>
    </div>
    <div class="age col-4">
      <h3>Age</h3>
      <h2 class="pa-age">21</h2>
    </div>
    <div class="progress col-4">
      <h3>Progress</h3>
      <h2 class="pa-age">95%</h2>
    </div>
  </div>
</div>
</body>
<script src="../JS/all.min.js"></script>
<script src="../JS/main.js"></script>
<script src="../JS/bootstrap.bundle.min.js"></script>
</html>