<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist</title>
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/receptionist.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <div class="header">
<div class="logo home-btn">
    <p class="home-btn">New Life</p>
    <h2 class="home-btn">ICU</h2>
</div>
<div class="links">
    <ul class="links">
    <li><a href="#">Department</a></li>
    <li><a href="#">Contact US</a></li>
    <li><a href="#">About US</a></li>
    <li><a href="/" class="log-out">Log Out</a></li>
    </ul>
</div>
        </div>
    </div>
    <div class="receptionist-patient-card">
        <div class="rec-pa-card">
            <h2>Patient</h2>
            <div class="button rec-pa-button">
                <div class="icon-background">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <span> Add Patient </span>
            </div>
            <div class="button rec-pa-button">
                <div class="icon-background">
                    <i class="fa-solid fa-hospital-user"></i>
                </div>
                <span> Check Patient </span>
            </div>
        </div>
    </div>
    <div class="receptionist-visitor-card">
        <div class="rec-vi-card">
            <h2>visitor</h2>
            <div class="button rec-vi-button">
                <div class="icon-background">
                    <i class="fa-solid fa-person"></i>
                </div>
                <span> New Visitor </span>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="../JS/all.min.js"></script>
<script src="../JS/main.js"></script>
<script src="../JS/bootstrap.bundle.min.js"></script>
</html>