<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist</title>
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/receptionist.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
    <link rel="stylesheet" href="../CSS/bootstrap-grid.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo home-btn">
                <p class="home-btn">New Life</p>
                <h2 class="home-btn">ICU</h2>
            </div>
            <div class="links">
                <ul class="links">
                <li><a href="#">Department</a></li>
                <li><a href="#">Contact US</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="#" class="log-out">Log Out</a></li>
                </ul>
            </div>
        </div>  
    </div>
    <div class="receptionist-patient-card">
        <div class="rec-pa-card scroll">
            <h2>Patient</h2>
                <button class="button rec-pa-button rec-pa-button-btn">
                    <div class="icon-background rec-pa-button-btn">
                        <i class="fa-solid fa-user-plus rec-pa-button-btn"></i>
                    </div>
                    <span class="rec-pa-button-btn"> Add Patient </span>
                </button>
                <button class="button rec-pa-button rec-pach-button-btn">
                    <div class="icon-background rec-pach-button-btn">
                        <i class="fa-solid fa-hospital-user rec-pach-button-btn"></i>
                    </div>
                    <span class=" rec-pach-button-btn"> Check Patient </span>
                </button>
        </div>
        <div class="rec-pa-form">
            <form action="addPatient" method="post">
                <div class="patient-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" name="fName" id="" placeholder="Enter first name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" name="lName" id="" placeholder="Enter last name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">SSN</span>
                        <input type="text" name="pSSN" id="" placeholder="Enter social number" required minlength="14" maxlength="14">
                    </div>
                    <div class="input-box" id="address">
                        <span class="details">Address</span>
                        <input type="text" name="pAddress" id="" placeholder="Enter address" required style="">
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="pNumber" id="" placeholder="Enter number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Department</span>
                        <select id="departments" required name="departments">
                        <option selected="selected">
                            Select Department
                        </option>
                            <option value="Medical">Medical</option>
                            <option value="Surgical">Surgical</option>
                            <option value="Pediatric">Pediatric</option>
                            <option value="Neonatal">Neonatal</option>
                        </select> 
                    </div>
                </div>
                <div class="date-details">
                    <span class="date-title">Birth Date</span>
                    <input type="date" name="bDate" id="" required>
                </div>
                <div class="gender-details">
                    <input type="radio" id="male" name="gender" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="Female">
                    <label for="female">Female</label>
                </div>
                <div class="companion-details">
                    <input type="checkbox" id="companion" name="companion" value="Companion">
                    <label for="companion">With Companion</label>
                </div>
                <div class="companion-data">
                    <div class="input-box">
                        <span class="details">Companion Name</span>
                        <input type="text" name="compName" id="" placeholder="Enter Companion Name">
                    </div>
                    <div class="input-box">
                        <span class="details">Companion SSN</span>
                        <input type="text" name="comSSN" id="" placeholder="Enter Companion social number">
                    </div>
                    <div class="input-box">
                        <span class="details">Companion Phone Number</span>
                        <input type="text" name="compPhone" id="" placeholder="Enter Companion number">
                    </div>
                </div>
                <button class="button rec-form-btn rec-form-btn-change">Confirm</button>
                <div class="button rec-form-btn rec-form-btn-close">Close</div>
            </form>
        </div>
        <div class="rec-pach-form">
            <div class="rec-pach-search">
                <div class="input-box input-ssn">
                    <iframe name="votar" style="display:none;"></iframe>
                    <form action="" method="get" target="votar">
                        <span class="details">SSN</span>
                        <input type="text" name="" id="search-ssn" class="search-ssn" placeholder="Enter social number" required>
                        <div class="error search-error"></div>
                    </div>
                    <div class="btns">
                        <div class="button rec-form-btn rec-form-search-btn">Search</div>
                        <div class="button rec-form-btn rec-form-btn-close rec-form-search-btn-close">Close</div>
                    </form>
                </div>
            </div>
            <div class="rec-pach-result">
                <div class="patient-data">
                    <h2>Name</h2>
                    <h3 class="patient-name">Abdelrhman Yasser</h3>
                </div>
                <div class="patient-data">
                    <h2>Room Number</h2>
                    <h3 class="patient-room">Room 5</h3>
                </div>
                <div class="patient-data">
                    <h2>Arrival Date</h2>
                    <h3 class="patient-arrDate">16/5/2020</h3>
                </div>
                <div class="result-btns">
                    <div class="button rec-form-btn rec-form-btn-close rec-form-result-btn-close">Close</div>
                    <div class="sec-button rec-form-btn rec-form-btn-back rec-form-result-btn-back">Back</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="receptionist-visitor-card">
        <div class="rec-vi-card scroll">
            <h2>visitor</h2>
            <button class="button rec-vi-button rec-vi-button-btn ">
                <div class="icon-background rec-vi-button-btn">
                    <i class="fa-solid fa-person rec-vi-button-btn"></i>
                </div>
                <span class=" rec-vi-button-btn"> New Visitor </span>
            </button>
        </div>
        <div class="rec-vi-form ">
            <form action="" method="post">
                <div class="patient-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" name="" id="" placeholder="Enter first name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" name="" id="" placeholder="Enter last name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">SSN</span>
                        <input type="text" name="" id="" placeholder="Enter social number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="" id="" placeholder="Enter number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Room Number</span>
                        <input type="text" name="" id="" placeholder="Enter room number" required>
                    </div>
                </div>
                    <div class="btns">
                        <div class="button rec-form-btn">Save</div>
                        <div class="button rec-form-btn rec-visitor-form-btn-close">Close</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>
<script src="../JS/all.min.js"></script>
<script src="../JS/main.js"></script>
<script src="../JS/bootstrap.bundle.min.js"></script>

</html>