* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #2e3192;
    --sec-color: #00aeef;
    --border-radius: 5px;
}

body {
    background: var(--main-color);
}

.report-container {
    background: var(--sec-color);
    transform: translate(400px, 100px);
    width: 500px;
    height: 600px;
    border-radius: var(--border-radius);
}

.report-container form {
    margin-top: 50px;
}

.report-container form .input-container {
    margin: 30px;
    margin-left: 50px;
}

.report-container form .input-container .report-input {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    height: 100px;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.report-container form .input-container .report-input:focus,
.report-container form .input-container .report-input:valid {
    border-color: #000;
}

.report-container form .input-container .blood-type-input {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    height: 50px;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.report-container form .input-container .blood-type-input:focus,
.report-container form .input-container .blood-type-input:valid {
    border-color: #000;
}

p {
    display: inline-block;
    margin: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
}

button {
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    margin: 30px;
    width: 430px;
    height: 50px;
    font-size: 20px;
    font-weight: 600px;
    color: #fff;
    background: var(--main-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover {
    background: linear-gradient(135deg, var(--sec-color), var(--main-color));
}